<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda Dragon Ball Z</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .navbar {
      background-color: #000000;
      height: auto;
    }
    .navbar-brand img {
      width: 105px;
    }
    .navbar-nav .nav-link, .navbar-nav .nav-item {
      color: #fff;
    }
    
    .product img {
      width: 100%;
      height: auto;
    }
    .navbar-nav .nav-link {
      color: #fff !important;
      background-color: #ff0000 !important;
      padding: 8px 16px;
      border-radius: 4px;
      transition: all 0.3s ease;
    }
    .footer {
      background-color: #000000;
      color: #fff;
      padding: 20px 0;
    }
    .footer a {
      color: #fff;
    }
    /* Estilo para los botones activos */
    .navbar-nav .nav-item .nav-link.active {
      color: rgb(255, 0, 0) !important; 
      font-weight: bold;
      background-color: rgb(0, 0, 0) !important;
    }
  </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="./contenido/suscribirte.html">
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Dragon_Ball_Z_Logo_A.png" alt="Logo Dragon Ball Z">
  INICIAR SESION</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" style="margin-right:5px;margin-top:15px;">
        <a class="nav-link" href="./contenido/suscribirte.html">SUSCRIBIRSE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" style="margin-right:5px;margin-top:15px;">NOVEDADES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" style="margin-right:5px;margin-top:15px;">NOSOTROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" style="margin-right:5px;margin-top:15px;">CANTIDAD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" style="margin-right:5px;margin-top:15px;">CONTACTENOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" style="margin-right:5px;margin-top:15px;">PERFIL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" style="margin-right:5px;margin-top:15px;">UBICACIÓN</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="" style="margin-right:5px;margin-top:15px;">RUTA DE ENVIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" style="margin-right:5px;margin-top:15px;">LIBRO DE RECLAMACIONES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" style="margin-top:15px;">COMENTARIOS</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Products Section -->
<div class="container my-5">
  <div class="row text-center">
    <div class="col-md-3 product mb-2">
      <a href="">
      <img src="https://richstore.com.pe/wp-content/uploads/2022/06/Dragon-Boll-6.jpg" alt="Product 1" class="h-50">
      </a>
      <p>Un polo diseñado únicamente pensando en ti</p>
      <p>S/130.00</p>
      <p>TALLAS DISPONIBLES: S, M, L, XL, XXL</p>
      <a href="" class="btn btn-primary">Agregar al carrito</a>
    </div>
    <div class="col-md-3 product mb-4">
      <a href="">
        <img src="https://http2.mlstatic.com/D_NQ_NP_996506-MPE71311277804_082023-O.webp" alt="Product 2" class="h-50">
      </a>
      <p>Poleras que los personajes de Dragon Ball Z son uno de los grandes buscados</p>
      <p>S/130.00</p>
      <p>TALLAS DISPONIBLES: S, M, L, XL, XXL</p>
      <a href="" class="btn btn-primary">Agregar al carrito</a>
    </div>
    <div class="col-md-3 product mb-2">
      <a href="">
        <img src="https://abejareinaperu.com/wp-content/uploads/2021/05/casaca-dragon-ball-z.jpeg" alt="Product 3"class="h-50">
      </a>
      <p>Casaca diseñado con los personajes de Dragon Ball Z son uno de los grandes buscados</p>
      <p>S/130.00</p>
      <p>TALLAS DISPONIBLES: S, M, L, XL, XXL</p>
      <a href="" class="btn btn-primary">Agregar al carrito</a>
    </div>
    <div class="col-md-3 product mb-2">
      <a href="">
        <img src="https://goku-shop.es/cdn/shop/products/1_d0621584-8f6e-4958-9a04-6c61bfe7aa85.png?v=1610617265&width=533" alt="Product 4" class="h-50">
      </a>
      <p>Un polo diseñado para los que suelen utilizar las mangas largas</p>
      <p>S/130.00</p>
      <p>TALLAS DISPONIBLES: S, M, L, XL, XXL</p>
      <a href="" class="btn btn-primary">Agregar al carrito</a>
    </div>
    <div class="col-md-3 product mb-2">
      <a href="">
        <img src="https://sumerlabs.com/sumer-app-90b8f.appspot.com/product_photos%2F2abb5503083a7cde0429adc245247230%2F181a9ea0-f596-11ec-811e-214fcc8a3ba5?alt=media&token=80808e95-5c87-41ac-a73a-4dd9091b0ba5" alt="Product 5" class="h-50">
      </a>
      <p>Un polo diseñado únicamente pensando en ti</p>
      <p>S/130.00</p>
      <p>TALLAS DISPONIBLES: S, M, L, XL, XXL</p>
      <a href="" class="btn btn-primary">Agregar al carrito</a>
    </div>
    <div class="col-md-3 product mb-2">
      <a href="">
        <img src="https://goku-shop.es/cdn/shop/products/product-image-595661469.jpg?v=1574611707&width=533" alt="Product 6" class="h-50">
      </a>
      <p>Poleras que los personajes de Dragon Ball Z son uno de los grandes buscados</p>
      <p>S/130.00</p>
      <p>TALLAS DISPONIBLES: S, M, L, XL, XXL</p>
      <a href="" class="btn btn-primary">Agregar al carrito</a>
    </div>
    <div class="col-md-3 product mb-2">
      <a href="">
        <img src="https://wishiny.com/sites/default/files/quality-dragon-ball-son-goku-polo-shirts-men-boy-black-polo_2.jpg" alt="Product 7" class="h-50">
      </a>
      <p>Polos que los personajes de Dragon Ball Z son uno de los grandes buscados</p>
      <p>S/130.00</p>
      <p>TALLAS DISPONIBLES: S, M, L, XL, XXL</p>
      <a href="" class="btn btn-primary">Agregar al carrito</a>
    </div>
    <div class="col-md-3 product mb-4">
      <a href="">
        <img src="https://richstore.com.pe/wp-content/uploads/2023/02/Dragon-boll-5.jpg" alt="Product 8" class="h-50">
      </a>
      <p>Un polo diseñado para los que suelen utilizar las mangas largas</p>
      <p>S/130.00</p>
      <p>TALLAS DISPONIBLES: S, M, L, XL, XXL</p>
      <a href="" class="btn btn-primary">Agregar al carrito</a>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Boletín</h5>
        <p>Introduzca su dirección de correo electrónico</p>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Ingresa tu correo...">
          </div>
          <a href="" class="btn btn-primary">ENVIAR</a>
        </form>
      </div>
      <div class="col-md-6">
        <h5>Configuración de la tienda</h5>
        <p>Dragon ball Z confecciones S.A.C., 854 Av, San Martin, Huanta, PERU</p>
        <p>Llámamos ahora: +51 956 654 357</p>
        <p>dragonballZ@gmail.com</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="https://web.facebook.com/factor.anime?locale=es_LA" target="_blank">
          <img src="https://static.vecteezy.com/system/resources/previews/016/716/447/non_2x/facebook-icon-free-png.png" alt="Facebook" class="img-fluid" style="max-width: 50px;">
        </a>
        <a href="https://www.instagram.com/viltug.cl/reel/C8sFYKQuVoL/" target="_blank">
          <img src="https://static.vecteezy.com/system/resources/previews/018/930/691/original/instagram-logo-instagram-icon-transparent-free-png.png" alt="Instagram" class="img-fluid" style="max-width: 50px;">
        </a>
        <a href="https://x.com/dragonballz" target="_blank">
          <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-twitter-logo-icon-png-image_3570310.png" alt="Twitter" class="img-fluid" style="max-width: 50px;">
        </a>
        <a href="https://www.youtube.com/@anzu361" target="_blank">
          <img src="https://pngfre.com/wp-content/uploads/You-Tube-14.png" alt="YouTube" class="img-fluid" style="max-width: 50px;">
        </a>
        <a href="#" target="_blank">
          <img src="https://www.keyweo.com/wp-content/uploads/2022/03/el-logo-g-de-google.png" alt="Google" class="img-fluid" style="max-width: 50px;">
        </a>
      </div>
    </div>
    
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Script personalizado para activar el cambio de estilo al hacer clic -->
<script>
  // JavaScript para activar el cambio de estilo al hacer clic
  const navLinks = document.querySelectorAll('.navbar-nav .nav-link');
  
  navLinks.forEach(link => {
    link.addEventListener('click', function() {
      navLinks.forEach(link => link.classList.remove('active'));
      this.classList.add('active');
    });
  });
</script>

</body>
</html>
